// Tunnel wall. Blocks vision + pathfinding.
(
    key: "00000000-0000-0000-0000-01840a920002",
    display_name: "Tunnel Wall",
    sim_kind: Wall(
        hp:               55,
        armor_protection: 7,
        armor_hardness:   3,
        height_band:      High,
    ),
    presenter_kind: Wall(
        graphic_name: "wall",
    ),
    tags: [BlocksVision, BlocksPathfinding],
)
