// Gantry slab.
(
    key: "00000000-0000-0000-0000-01840a930003",
    display_name: "Gantry Slab",
    sim_kind: Slab(
        hp:               35,
        armor_protection: 4,
        armor_hardness:   2,
    ),
    presenter_kind: Slab(
        graphic_name: "slab",
        footfall:     None,
    ),
    tags: [],
)
