// Theme default floor. Structurally a slab.
(
    key: "00000000-0000-0000-0000-01840a930001",
    display_name: "Sludge Floor",
    sim_kind: Slab(
        hp:               35,
        armor_protection: 4,
        armor_hardness:   2,
    ),
    presenter_kind: Slab(
        graphic_name: "floor",
        footfall:     None,
    ),
    tags: [],
)
